doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    title Results Page
    // Bootstrap Core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    // Custom Fonts -
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='css/creative.css', type='text/css')
    // Scripts
    //
      Favicon
      <link rel="icon" type="image/ico" href="img/.ico"/>
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Movie Tracker
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          form.navbar-form.navbar-left(role='search')
            .form-group
              input#keyword.form-control(type='text', placeholder='Search')
            button#search.btn.btn-default.navbar-button(type='submit')
              span.fa.fa-1x.fa-search
          #error.alert-warning
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/about') About
            li
                 if user
                      a.dropdown-toggle.disabled(href="/userpage", data-toggle='dropdown')
                        | #{user.fullName}
                        strong.caret
                      ul.dropdown-menu(style='padding: 10px;')
                        li
                            a(href='/profile' style='color: black;') Settings
                        li
                            a(href='/logout' style='color: black;') Log out
                 else
                      a(href='/login') Log In




    .container-fluid.tall
      .row.tall
        // unoccupied left-side in full screen
        .col-lg-2.col-md-2.col-xs-2
        // content wrap
        .col-lg-8.col-md-8.col-xs-8.main-wrap
          .container-fluid.content-wrap
            .row.white
              // Left side in content wrap
              .col-lg-8.info-wrap.tall
                .container-fluid
                  .row.left-wrap.no-padding.dark
                    .col-lg-12.col-md-12.col-xs-12.no-padding.backdrop
                  .row.left-wrap.text-center.dark.relative
                    .col-lg-9.col-md-9.col-xs-9.no-padding.title-box-left.title-box.movie-title
                    if user
                    .col-lg-2.col-md-2.col-xs-2.no-padding.float-right.title-box-left.title-box
                  .row.left-wrap.text-center.lighter
                    .col-lg-12.col-md-12.col-xs-12.no-padding
                      .row.movie-ratings
                        .container-fluid
                          .col-lg-4.col-md-4.col-sx-4.imdb
                          .col-lg-4.col-md-4.col-sx-4.rotten
                          .col-lg-4.col-md-4.col-sx-4.meta
                      //table.movie-ratings
                        //tr.sites
                        //tr.ratings
                  .row.left-wrap.text-center.lighter.overview-plot
                  .row.left-wrap.text-center.lighter.actors
                  .row.left-wrap.text-center.lighter.awards
              // right side in content wrap
              .col-lg-4.no-padding
                .container-fluid
                  .row.right-wrap
                    .col-lg-12
                      .title-box.title-box-right
                        h2 Popular
                        hr
                      #popularTitles.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                          li.active(data-target='#popularTitles', data-slide-to='0')
                          li(data-target='#popularTitles', data-slide-to='1')
                          li(data-target='#popularTitles', data-slide-to='2')
                        .carousel-inner(role='listbox')
                          .item.active
                            a(href="/title?movie=The Revenant")
                              img(src='img/RevenantPoster.jpg', alt='The Revenant Poster')
                          .item
                            a(href="/title?imdbID=tt2446980")
                              img(src='img/JoyPoster.jpg', alt='Joy Poster')
                          .item
                            a(href="/title?movie=The Force Awakens")
                              img(src='img/SwTFAPoster.jpg', alt='Star Wars: The Force Awakens Poster')
                        a.left.carousel-control(href='#popularTitles', role='button', data-slide='prev')
                          span.icon-prev.wow.bounceIn
                          span.sr-only Previous
                        a.right.carousel-control(href='#popularTitles', role='button', data-slide='next')
                          span.icon-next.wow.bounceIn(aria-hidden='true')
                          span.sr-only Next
                  .row.right-wrap
                    .col-lg-12
                      .title-box.title-box-right
                        h2 New
                        hr
                      #newTitles.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                          li.active(data-target='#newTitles', data-slide-to='0')
                          li(data-target='#newTitles', data-slide-to='1')
                          li(data-target='#newTitles', data-slide-to='2')
                        .carousel-inner(role='listbox')
                          .item.active
                            a(href="/title?movie=The Revenant")
                              img(src='img/RevenantPoster.jpg', alt='The Revenant Poster')
                          .item
                            a(href="/title?imdbID=tt2446980")
                              img(src='img/JoyPoster.jpg', alt='Joy Poster')
                          .item
                            a(href="/title?movie=The Force Awakens")
                              img(src='img/SwTFAPoster.jpg', alt='Star Wars: The Force Awakens Poster')
                        a.left.carousel-control(href='#newTitles', role='button', data-slide='prev')
                          span.icon-prev.wow.bounceIn
                          span.sr-only Previous
                        a.right.carousel-control(href='#newTitles', role='button', data-slide='next')
                          span.icon-next.wow.bounceIn(aria-hidden='true')
                          span.sr-only Next
            .row.foot
              .col-lg-12.no-padding.footer
                .container-fluid
                  .col-lg-4.col-md-4.col-sx-4.no-padding
                    .footer-box
                      h3  Main Navigation
                      hr.footer-hr
                      ul.list-unstyled
                        li
                          a(href='/') Home
                        li
                          a(href='/about') About
                        li
                          a(href='/create_account') Create Account
                  .col-lg-4.col-md-4.col-sx-4.no-padding
                    .footer-box
                      h3  Contact Info
                      hr.footer-hr
                      ul.list-unstyled
                        li Email:
                        li Phone number:
                        li
                          a(href='/contact-us') Contact Us
                  .col-lg-4.col-md-4.col-sx-4.no-padding
                    .footer-box
                      h3  Also check...
                      hr.footer-hr
                      ul.list-unstyled
                        li
                          a(href='http://www.imdb.com/') IMDb
                        li
                          a(href='http://www.rottentomatoes.com/') Rotten Tomatoes
                        li
                          a(href='http://www.metacritic.com/')
                          | Metacritic
        .col-lg-2.col-md-2.col-xs-2
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='js/jquery.easing.min.js')
    script(src='js/jquery.fittext.js')
    script(src='js/wow.min.js')
    // Custom Theme JavaScript
    script(src='js/creative.js')
    // Custom Javascript
    script(src='js/searchBar.js')
    script(src='js/functionsTitle.js')
    script(src='http://127.0.0.1:8080/socket.io/socket.io.js')
    script(src='js/list.js')
